<h4>Edit User</h4>
<table >
<%=form_for(:user, :url => admin_user_path, :method => :put) do |f|%>
<%=f.hidden_field :id, :value => @user.id%>
<%=render :partial => "form", :locals => {:f => f}%>
  <tr><td><%=f.submit "Edit User"%><td></tr>
<%end%>
</table>